
body {
    background: radial-gradient(to right, #cce8ee, #09546f);
    background-size: 200% 100%; /* Tamanho inicial do gradiente */
    animation: gradientAnimation 3s alternate; /* Alterna a direção a cada ciclo */
   
}
.saudacao {
    -webkit-text-stroke: 1px #cce8ee; /* Adicionar um contorno branco ao texto */
    color: #000000; 
    font-size: 3em;
    text-align: center; /* Centralizar o texto */
    margin-top: 50px; /* Adicionar espaço superior */
    margin-bottom: 20px; /* Adicionar espaço inferior */
    font-family: 'Consolas'; /* Escolher uma fonte apropriada */
    font-weight: bold; /* Adicionar negrito para ênfase */
}
@keyframes gradientAnimation {
    0% {
        background-position: 100% 0; /* Gradiente à direita no início */
    }
    100% {
        background-position: 0 0; /* Gradiente à esquerda no final */
    }
}

.meus_dados {
    padding-left: 20px;
    max-width: 20%;
    display: flex;
    align-items: flex-start;
    font-family: 'Consolas';
    
   
}


.segunda_coluna {
    margin-left: 50px;
    box-shadow: -60px 0 15px rgba(0, 0, 0, 0.1);
    padding-left: 50px;
    margin-right: 50px;
}
.perfil{
    align-items: flex-start;
}
tr {
    display: flex; 
}
.foto_perfil {
    max-width: 200px;
    max-height: 200px;
    border-radius: 40%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(11, 0, 0, 0.548);
}

.perfil{
    font-size:3cap;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 50px;
}


.all_contatos img {
    max-width: 50px;
    padding-top: 20px;
    margin-bottom: 10px;
}



.expansivel {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.expandida {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: scale(3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.img_projetos img {
    max-width: 10%;
    flex-shrink: 0;
    min-width: 100px;
    margin-right: 10px;
    max-width: 50px;
    flex-shrink: 0;
}

.text_meuTrabalho {
    text-align: center;
    font-family: 'Consolas';
    font-size: 3cap;
}
.title_projetos {
    font-family: 'Consolas';
    font-size: 3cap;
    color: black;
}
.descricao_projeto {
    font-size: 2cap;
    font-family: 'Roboto', sans-serif;
}
.div_projetos {
    padding-top: 10px;
}
.habilidades {
    font-family: 'Consolas';
    font-size: 0.8cap;
}
.img_google {
    padding-left: 30px;
    min-width: 100px;
    max-width: 150px;
    max-height: 50px;

}
.img_git_projetos {
    padding-left: 10px;
    min-width: 50px;
    max-width: 50px;
    max-height: 50px;

}
.img_projetos_git {
    padding-left: 10px;
    min-width: 50px;
    max-width: 50px;
    max-height: 50px;
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
    text-align: center; /* Centraliza o texto */
}
.links_github {
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
    text-align: center; /* Centraliza o texto */
}
.img_certificacao_microsoft {
    padding-left: 10px;
    min-width: 200px;
    max-width: 500px;
    max-height: 500px;
}

.celula_com_borda {
    border-right: 1px solid black;
    padding-right: 10px;
}

.historia {
    display: none;
    font-size: 1.2em; /* Tamanho da fonte ajustado */
    font-family: 'Roboto', sans-serif;
    line-height: 1.6; /* Altura da linha ajustada para melhor legibilidade */
    color: #333; /* Cor do texto mais escura */
    text-align: justify; /* Texto justificado */
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Adiciona sombra à fonte */
}
.mostrar-btn {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
#mostrar-btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px; /* Adiciona preenchimento ao botão */
    background-color: #3498db; /* Cor de fundo azul */
    color: #fff;
    text-decoration: none; /* Remove sublinhado do link */
    border-radius: 5px; /* Adiciona cantos arredondados */
    transition: background-color 0.3s ease; /* Adiciona transição suave de cor de fundo */
}

#mostrar-btn:hover {
    background-color: #2980b9; /* Cor de fundo ao passar o mouse */
}


.nome-desenvolvedor {
    padding-bottom: 50px; /* Adiciona espaçamento abaixo do elemento */
  }
  
  .title_habilidades {
    margin-top: 50px; /* Adiciona espaçamento acima do elemento */
  }

  .email {
    font-size: 20px;
  }

.local {
    font-family: 'Consolas' !important;
    font-size: 1cap !important;
}