html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    align-items:center;
    background-image: linear-gradient(rgb(38, 210, 104), rgb(38, 238, 198));
}



.img-left img {
    max-width: 90%;
    height: auto;
    min-width: 300px;
    flex-shrink: 0;
        }

.infos {
    padding-top: 10px;
    background-image: linear-gradient(to right, rgb(9, 20, 5), rgb(17, 56, 6));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    line-height: 1;
    margin-bottom: 3px;
}

.infos h1 {
    text-align: left;
    padding-top: 3px;
    font-size: 4rem; 
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
    line-height: 1;
    margin-bottom: 3px;
    letter-spacing: 1px; 
}

.infos p {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    font-weight: 1000;
    font-size: 30px;
    word-wrap: break-word;
    line-height: 0.8;
    margin-bottom: 2px;
    word-break: break-all;
    margin-top: 0.5em;
}

.infos ul {
    list-style-type: disc;
    font-family: sans-serif;
    font-size: 25px;
    word-wrap: break-word;
    padding-left: 20px;
    padding-right: 0px;
    line-height: 1;
    margin-bottom: 2px;
    margin-top: 0.5em;
}

.infos li {
    color: black;
     list-style-type:none;
    font-family: sans-serif;
    font-size: 25px;
    word-wrap: break-word;
    background-image: url(shuriken.png);
    background-size: 20px 20px;
    background-repeat: no-repeat; 
    padding-left: 30px; 
    margin-bottom: 10px;
}


.infos img {
    max-width: 10%;
    height: auto;
    flex-shrink: 0;
    min-width: 20px;
    margin-right: 10px;
    max-width: 50px;
    flex-shrink: 0;
}

.tabela-google{
    padding: 0px;
    align-items: start;
    word-wrap: break-word;
}

.expansivel {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.expandida {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: scale(8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.meu-botao {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #081b08; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.meu-botao:hover {
    background-color: #083808;
}
.links {
    font-size: 1.5em;
}

.all_contatos {
    padding-top: 3cap;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinha os itens à direita */
}

.all_contatos img {
    max-width: 50px;
    margin-bottom: 10px; /* Adiciona um espaço entre as imagens */
}